<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="admin/standardLayout :: page(title='Pall Andrei - Admin')">

    <div th:fragment="content">
      <h2>New user</h2>
      <div class="table-responsive">
		<form th:action="@{/admin/users/new}" th:object="${userDTO}" method="post">
		  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
			  Please correct errors below
		  </div>
		  <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect password confirmation</div>
		  <div class="mb-3">
		    <label for="username" class="form-label">Username</label>
		    <input type="text" name="username" th:field="*{username}" class="form-control" id="username" aria-describedby="usernameError">
		    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" id="usernameError" class="form-text error">Error</div>
		  </div>
		  <div class="mb-3">
		    <label for="password" class="form-label">Password</label>
		    <input type="password" name="password" th:field="*{password}" class="form-control" id="password" aria-describedby="passwordError">
		    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="passwordError" class="form-text error">Error</div>
		  </div>
		  <div class="mb-3">
		    <label for="passwordConfirmation" class="form-label">Confirm password</label>
		    <input type="password" name="passwordConfirmation" th:field="*{passwordConfirmation}" class="form-control" id="passwordConfirmation" aria-describedby="passwordConfirmationError">
		    <div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" id="passwordConfirmationError" class="form-text error">Error</div>
		  </div>
		  <div class="mb-3">
		    <label for="role" class="form-label">Role</label>
		    <select name="role" th:field="*{role}" class="form-control" id="role" aria-describedby="roleError">
			    <option th:value="'ROLE_ADMIN'" th:text="Administrator"></option>
			</select>
		    <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" id="roleError" class="form-text error">Error</div>
		  </div>
		  <div class="mb-3">
		    <label for="enabled" class="form-label">Enabled</label>
		    <select name="enabled" th:field="*{enabled}" class="form-control" id="enabled" aria-describedby="enabledError">
			    <option th:value="1" th:text="Enabled"></option>
			    <option th:value="0" th:text="Disabled"></option>
			</select>
		    <div th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" id="enabledError" class="form-text error">Error</div>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>        
      </div>
    </div>
</html>