<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="standardLayout :: page(title='Pall Andrei - Contact')">

<div th:fragment="content">


  <div class="row">
    <!-- Blog Entries Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4">Contact</h1>

        <hr>

        <!-- Post Content -->
        <div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet mattis justo, id lacinia ligula. Proin in commodo tortor. Cras ac dui eros. Mauris vehicula tristique enim sit amet suscipit. Nam pharetra ut nulla ac ultricies. Aliquam erat volutpat. Duis maximus, ipsum at ullamcorper lacinia, neque tellus feugiat lacus, in faucibus ante ipsum quis nibh. Pellentesque porta quis lorem sed lobortis. Etiam ac eros condimentum, ornare elit ut, lacinia felis. Nullam at suscipit diam. Morbi et diam non felis tincidunt fermentum.</p>
			<p>Curabitur hendrerit, leo eu sagittis tempor, turpis lacus feugiat metus, ac dapibus leo lacus eget justo. Nam hendrerit, dui quis semper fermentum, sapien neque congue justo, id aliquet est diam non leo. Sed dolor magna, viverra nec ante eu, sollicitudin fermentum ex. Pellentesque in nibh eu purus auctor aliquam a eget eros. Pellentesque imperdiet, augue eu finibus malesuada, odio lacus commodo urna, non pretium leo felis sit amet eros. Nunc mi orci, fringilla in molestie sed, pellentesque eu metus. Fusce nec blandit dolor, vitae sagittis ante.</p>
			<p>Cras sem mauris, dictum in lorem ut, dapibus sodales felis. Phasellus elementum eu nunc non pharetra. Aliquam efficitur sollicitudin vehicula. Integer pulvinar ut tellus vitae aliquam. Curabitur tincidunt luctus nulla. Aenean vulputate eu purus a pretium. Duis tellus quam, ultricies suscipit ultricies et, rutrum sed est. Nullam lacinia ultrices tortor id posuere. Integer gravida eget nisl quis dapibus.</p>
			<p>Donec euismod ipsum ut est auctor, eget blandit lacus sodales. Ut auctor facilisis turpis. Vestibulum eu accumsan dolor. Ut augue risus, placerat at magna et, iaculis rhoncus tellus. Nam interdum, mauris in pretium congue, est risus pretium nulla, eget scelerisque sapien nulla sed magna. Sed quis metus nec orci euismod feugiat. Aliquam vitae justo eget enim tempor porttitor quis quis felis. Integer scelerisque molestie arcu, quis egestas odio blandit id. Mauris metus eros, convallis pulvinar dolor nec, cursus malesuada lacus. Aliquam elementum venenatis interdum. Nullam eleifend facilisis nulla eu porta.</p>
			<p>Donec eget dolor in arcu vehicula tincidunt ac quis quam. Nulla eleifend vel orci eget volutpat. Aenean hendrerit dolor quam, quis fringilla leo efficitur a. Suspendisse in arcu id justo malesuada varius. Vivamus non consequat eros, nec sodales lectus. Integer elementum posuere mollis. Etiam quis egestas velit. Cras porttitor eu nisl non posuere. Nulla malesuada sagittis vulputate. Vivamus ac lorem nec libero malesuada ornare. Mauris at varius justo, vel consectetur lorem. Sed posuere, justo nec congue tristique, ipsum ante molestie eros, tristique iaculis enim leo eget arcu. </p>
			
			<form action="" th:object="${contactDTO}" method="post">
			  <div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert">
				A simple success alert—check it out!
			  </div>
              <div class="mb-3">
			    <label for="name" class="form-label">Name</label>
			    <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
			    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError" class="form-text error">Error</div>
			  </div>
			  <div class="mb-3">
			    <label for="email" class="form-label">Email</label>
			    <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
			    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailError" class="form-text error">Error</div>
			  </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea id="message" class="form-control" rows="5" name="message" th:field="*{message}"></textarea>
                <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" id="messageError" class="form-text error">Error</div>
              </div>
              <div class="mb-3">
              	<button type="submit" class="btn btn-primary">Send</button>
              </div>
            </form>
		<br>
		</div>

      </div>

  </div><!-- /.row -->



</div><!-- /.container -->
