<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="standardLayout :: page(title='Pall Andrei - Exhibitions')">

<div th:fragment="content">


  <div class="row">
    <!-- Blog Entries Column -->
      <div class="col-lg-8">

        <!-- Blog Post -->
        <div class="card mb-4" th:each="exhibition : ${listExhibitions}">
          <a th:href="@{/exhibitions/{slug}(slug=${exhibition.slug})}" style="text-align: center;"><img class="card-img-top exhibition" src="http://placehold.it/900x300" th:src="@{|/exhibitions/${exhibition.slug}/${exhibition.imageName}|}" alt="exhibition"></a>
          <div class="card-body">
            <h2 class="card-title" th:text="${exhibition.name}">Post Title</h2>
            <p class="card-text" th:text="${#strings.abbreviate(exhibition.description,200)}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary" th:href="@{/exhibitions/{slug}(slug=${exhibition.slug})}">View details &raquo;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on <span th:text="${#calendars.format(exhibition.createdAt, 'dd MMMMM yyyy')}">January 1, 2020</span> by Pall Andrei
          </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
		  <ul class="pagination justify-content-center">
		    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
		   	  <a class="page-link" href="#" th:if="${currentPage != 1}" th:href="@{'/exhibitions?page=' + ${currentPage-1}}">Previous</a>
		      <span class="page-link" th:if="${currentPage == 1}">Previous</span>
		    </li>
		    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage ? 'active' : ''}" aria-current="page">
		      <a class="page-link" href="#" th:if="${currentPage != i}" th:href="@{'/exhibitions?page=' + ${i}}">[[${i}]]</a>
		      <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
		    </li>
		    <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
		      <a class="page-link" href="#" th:if="${currentPage != totalPages}" th:href="@{'/exhibitions?page=' + ${currentPage+1}}">Next</a>
		      <span class="page-link" th:if="${currentPage == totalPages}">Next</span>
		    </li>
		  </ul>
		</nav>
      </div>

    <div th:replace="fragments/sidebar :: sidebar(module=${module})">sidebar</div>

  </div><!-- /.row -->



</div><!-- /.container -->
