<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="standardLayout :: page(title='Pall Andrei - Home')">

<div th:fragment="content">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" th:if="${#arrays.length(listPaintings) >= 3}">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
		<img class="painting" src="http://placehold.it/900x300" th:src="@{|/paintings/${listPaintings[0].slug}/${listPaintings[0].imageName}|}" alt="painting">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="painting" src="http://placehold.it/900x300" th:src="@{|/paintings/${listPaintings[1].slug}/${listPaintings[1].imageName}|}" alt="painting">

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="painting" src="http://placehold.it/900x300" th:src="@{|/paintings/${listPaintings[2].slug}/${listPaintings[2].imageName}|}" alt="painting">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" th:each="painting : ${listPaintings}">
        <a th:href="@{/paintings/{slug}(slug=${painting.slug})}" style="text-align: center;"><img class="img-fluid rounded painting" src="http://placehold.it/900x300" th:src="@{|/paintings/${painting.slug}/${painting.imageName}|}" alt="painting"></a>
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->

        <h3 th:text="${painting.name}">Heading</h3>
        <p th:text="${#strings.abbreviate(painting.description,200)}">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" th:href="@{/paintings/{slug}(slug=${painting.slug})}" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
	<div id="exhibitions" th:if="${#arrays.length(listExhibitions) >= 2}">
	    <div class="row featurette">
	      <div class="col-md-7">
	        <h2 class="featurette-heading" th:text="${listExhibitions[0].name}">First featurette heading</h2>
	        <p class="lead" th:text="${#strings.abbreviate(listExhibitions[0].description,600)}">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	        <a href="#" class="btn btn-primary" th:href="@{/exhibitions/{slug}(slug=${listExhibitions[0].slug})}">View details &raquo;</a>
	      </div>
	      <div class="col-md-5">
	        <a th:href="@{/exhibitions/{slug}(slug=${listExhibitions[0].slug})}" style="text-align: center;"><img class="card-img-top home-exhibition" src="http://placehold.it/900x300" th:src="@{|/exhibitions/${listExhibitions[0].slug}/${listExhibitions[0].imageName}|}" alt="exhibition"></a>
	      </div>
	    </div>
	
	    <hr class="featurette-divider">
	
	    <div class="row featurette">
	      <div class="col-md-7 order-md-2">
	        <h2 class="featurette-heading" th:text="${listExhibitions[1].name}">Oh yeah, it’s that good.</h2>
	        <p class="lead" th:text="${#strings.abbreviate(listExhibitions[1].description,600)}">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	        <a href="#" class="btn btn-primary" th:href="@{/exhibitions/{slug}(slug=${listExhibitions[1].slug})}">View details &raquo;</a>
	      </div>
	      <div class="col-md-5 order-md-1">
	        <a th:href="@{/exhibitions/{slug}(slug=${listExhibitions[1].slug})}" style="text-align: center;"><img class="card-img-top home-exhibition" src="http://placehold.it/900x300" th:src="@{|/exhibitions/${listExhibitions[1].slug}/${listExhibitions[1].imageName}|}" alt="exhibition"></a>
	      </div>
	    </div>
    </div>
	<br>
    <!-- /END THE FEATURETTES -->

  </div>
  

</div><!-- /.container -->

</html>