<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="standardLayout :: page(title='Pall Andrei - Log in')">

<div th:fragment="content" class="form-signin text-center">
  <div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid username and password.</div>
  <div th:if="${param.logout}" class="alert alert-success" role="alert">You have been logged out.</div>
  <form th:action="@{/login}" method="post">
    <img src="/images/logo.png" th:src="@{/images/logo.png}" id="logo-login" class="mb-4" alt="logo" width="95"/>
    <h1 class="h3 mb-3 fw-normal">Please login</h1>
    <label for="inputUsername" class="visually-hidden">Username</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>

</div><!-- /.container -->
