<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="standardLayout :: page(title='Pall Andrei - Paintings')">

<div th:fragment="content">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="painting : ${listPaintings}">
          <div class="card shadow-sm">
            <a th:href="@{/paintings/{slug}(slug=${painting.slug})}" style="text-align: center;"><img class="img-fluid rounded painting" src="http://placehold.it/900x300" th:src="@{|/paintings/${painting.slug}/${painting.imageName}|}" alt="painting"></a>

            <div class="card-body">
              <p class="card-text" th:text="${#strings.abbreviate(painting.description,200)}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" th:href="@{/paintings/{slug}(slug=${painting.slug})}">View</a>
                </div>
                <small class="text-muted" th:text="${#calendars.format(painting.createdAt, 'dd MMMMM yyyy HH:mm')}">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div>
    <br>
    <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
	  <ul class="pagination justify-content-center">
	    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
	   	  <a class="page-link" href="#" th:if="${currentPage != 1}" th:href="@{'/paintings?page=' + ${currentPage-1}}">Previous</a>
	      <span class="page-link" th:if="${currentPage == 1}">Previous</span>
	    </li>
	    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage ? 'active' : ''}" aria-current="page">
	      <a class="page-link" href="#" th:if="${currentPage != i}" th:href="@{'/paintings?page=' + ${i}}">[[${i}]]</a>
	      <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
	    </li>
	    <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}">
	      <a class="page-link" href="#" th:if="${currentPage != totalPages}" th:href="@{'/paintings?page=' + ${currentPage+1}}">Next</a>
	      <span class="page-link" th:if="${currentPage == totalPages}">Next</span>
	    </li>
	  </ul>
	</nav>
</div><!-- /.container -->
