<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="standardLayout :: page(title='Pall Andrei - Search')">

<div th:fragment="content">
  <div class="alert alert-primary" role="alert">
	  Search results for the keyword: <strong th:text="${keyword}">keyword</strong>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">	
        <div class="col" th:each="painting : ${listPaintings}">
          <div class="card shadow-sm">
            <a th:href="@{/paintings/{slug}(slug=${painting.slug})}" style="text-align: center;"><img class="img-fluid rounded painting" src="http://placehold.it/900x300" th:src="@{|/paintings/${painting.slug}/${painting.imageName}|}" alt="painting"></a>

            <div class="card-body">
              <h3 th:text="${painting.name}">Heading</h3>
              <p class="card-text" th:text="${#strings.abbreviate(painting.description,200)}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" th:href="@{/paintings/{slug}(slug=${painting.slug})}">View details &raquo;</a>
                </div>
                <small class="text-muted" th:text="${#calendars.format(painting.createdAt, 'dd MMMMM yyyy HH:mm')}">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div><br>
</div><!-- /.container -->
