<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page(title)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title th:text="${title}">Pall Andrei - Title</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" th:href="@{/bootstrap/icons/font/bootstrap-icons.css}">
	<link href="/docs/5.0/dist/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico" th:href="@{/images/favicon.ico}">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" th:href="@{/css/main.css}" rel="stylesheet">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#" th:href="@{/}"><img src="/images/logo.png" th:src="@{/images/logo.png}" id="logo" alt="logo" width="95"/></a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Pall Andrei</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="#" th:href="@{/login}">Login</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" th:classappend="${module == 'home' ? 'active' : ''}" aria-current="page" href="#" th:href="@{/}"><i class="bi bi-house-door"></i> Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:classappend="${module == 'paintings' ? 'active' : ''}" aria-current="page" href="#" th:href="@{/paintings}"><i class="bi bi-palette"></i> Paintings</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:classappend="${module == 'exhibitions' ? 'active' : ''}" aria-current="page" href="#" th:href="@{/exhibitions}"><i class="bi bi-images"></i> Exhibitions</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:classappend="${module == 'about-me' ? 'active' : ''}" href="#" th:href="@{/about-me}"><i class="bi bi-receipt"></i> About me</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:classappend="${module == 'contact' ? 'active' : ''}" href="#" th:href="@{/contact}"><i class="bi bi-mailbox"></i> Contact</a>
	        </li>
	      </ul>
	      <form class="d-flex" th:action="@{/search}" method="get">
	        <input name="keyword" class="form-control me-2" type="search" th:value="${keyword}" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Search</button>
	      </form>
	    </div>
	  </div>
	</nav>
  </div>
</div>

<main class="container">
  <div th:replace="this :: content">content</div>
</main><!-- /.container -->

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="/images/logo.png" th:src="@{/images/logo.png}" id="logo-footer" alt="logo" width="60"/>
      <small class="d-block mb-3 text-muted">© 2019-<span th:text="${#dates.year(#dates.createNow())}">2020</span> Pall Andrei</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Cool stuff</a></li>
        <li><a class="link-secondary" href="#">Random feature</a></li>
        <li><a class="link-secondary" href="#">Team feature</a></li>
        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary" href="#">Another one</a></li>
        <li><a class="link-secondary" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Resource name</a></li>
        <li><a class="link-secondary" href="#">Resource</a></li>
        <li><a class="link-secondary" href="#">Another resource</a></li>
        <li><a class="link-secondary" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Business</a></li>
        <li><a class="link-secondary" href="#">Education</a></li>
        <li><a class="link-secondary" href="#">Government</a></li>
        <li><a class="link-secondary" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>